.navbar-brand {
    color: #404040 !important;
    font-weight: bold;
    background-color: #404040;
}

.bg-custom {
    background: #404040 !important;
}

.nav-link {
    color: white !important;
}

.nav-link:hover {
    color: silver !important;
    background-color: inherit !important; /* This will keep the background color same */
}

.frontimage {
    width: 100%;
}

#login {
    opacity: 0.9;
}

.page-title {
    color: red;
    font-size: 2em; /* 1em = 16px */
    font-weight: 600;
    padding: 0.5em 1em; /* top bottom se 5em and left right se 1 em */
    box-shadow: 0px 0px 2px #b0b0b0;
    text-transform: uppercase;
    width: 40%;
    margin: 0 auto;
    border: 5px solid #404040;
}
